@import '../../../assets/Scss/variables.scss';

.containerForm {
	color: $black;
	font-size: 18px;
	width: 35%;
	min-width: 500px;
	margin: 5% auto;
	padding: 2%;
	box-shadow: 0 0 5px $gray;
	border-radius: 25px;
	font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: $white;
	z-index: 9;

	.img {
			width: 80px;
			padding: 8px;
		}
	.error {
		padding: 1% 5%;
		margin: 2% auto;
		width: 80%;
		color: $redOrange;
		background: rgba($gray, 0.4);
	}
	form {
		display: flex;
		flex-direction: column;
		padding: 5%;
		input {
			padding: 15px;
			margin: 8px;
			font-size: 16px;
			border: 1px solid $gray;
			&:focus {
				outline: none;
			}
			&[type='submit'] {
				width: 40%;
				margin: 8px auto;
				background-color: $redOrange;
				color: $white;
				border: none;
				font-size: 18px;
				cursor: pointer;
			}
		}
		label {
			padding: 8px;
		}
	}
	p {
		text-align: center;
		margin: 0;
		a {
			color: $redOrange;
			text-decoration: none;
		}
	}
}
@media (max-width: 800px) {
	.containerForm {
		width: 90%;
		min-width: unset;
		font-size: 16px;
		h1 {
			font-size: 22px;
			img {
				width: 40px;
			}
		}
	}
}
